In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
from numpy import linalg
# rcParams['figure.figsize'] = 5, 4

In [2]:
from sklearn import svm

In [3]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [5]:
# iris = datasets.load_iris()
# x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
# print("target_names: "+str(iris['target_names']))
# y = pd.DataFrame(iris['target'], columns=['target'])
# iris_data = pd.concat([x,y], axis=1)
# iris_data = iris_data[['sepal length (cm)','petal length (cm)','target']]
# iris_data = iris_data[iris_data['target'].isin([0,1])]
# iris_data.head(3)

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
# y_train.head()

In [8]:
pca = ['Topic_156', 'Topic_121', 'Topic_68', 'Topic_24', 'Topic_200',
       'Topic_65', 'Topic_141', 'race:asian', 'enlish_tweets', 'Topic_199',
       'Topic_140', 'anxious:strongly_agree', 'Topic_53', 'Topic_93',
       'Topic_37', 'Topic_87', 'surprise', 'Topic_85', 'Topic_116',
       'Topic_148']

In [9]:
DT = ['Topic_163',
 'listed',
 'Topic_124',
 'Topic_3',
 'enlish_tweets',
 'Topic_32',
 'Topic_95']

In [10]:
RF = ['Topic_173',
 'Topic_116',
 'Topic_124',
 'Topic_107',
 'Topic_139',
 'Topic_163',
 'age',
 'Topic_11',
 'Topic_105',
 'Topic_29',
 'Topic_180',
 'Topic_196',
 'Topic_66',
 'Topic_49',
 'foll_friend_ratio',
 'Topic_76',
 'listed',
 'Topic_160',
 'gender:female_gt_0_5',
 'Topic_95']

In [11]:
ds_demo = pd.read_csv("twitter_income.csv")
ds_demo.head(5)

,user_id,age,gender:female_gt_0_5,anxious:agree,anxious:strongly_agree,anxious:disagree,anxious:strongly_disagree,anxious:neither,children:no,children:yes,...,Topic_191,Topic_192,Topic_193,Topic_194,Topic_195,Topic_196,Topic_197,Topic_198,Topic_199,Topic_200
0,1103,30.700773,-0.050586,0.113558,0.034757,0.329889,0.221230,0.300567,0.682671,0.317329,...,0.143927,0.001070,0.001070,0.006956,0.042804,0.036918,0.019797,0.000000,0.093098,0.010166
1,8273,29.817867,0.376868,0.079798,0.030549,0.360824,0.285467,0.243363,0.693130,0.306870,...,0.164856,0.000000,0.001863,0.004967,0.053710,0.009624,0.005278,0.000621,0.066749,0.007762
2,9269,31.260406,0.204542,0.079508,0.026907,0.343969,0.273264,0.276351,0.835034,0.164966,...,0.136182,0.000000,0.001230,0.005841,0.014448,0.071011,0.004919,0.010452,0.043345,0.008300
3,10571,33.120257,0.164126,0.093635,0.037560,0.410242,0.185529,0.273034,0.837154,0.162846,...,0.128398,0.000000,0.002313,0.018508,0.020821,0.024870,0.010989,0.002313,0.074610,0.015616
4,11758,26.284088,-0.066739,0.103949,0.038573,0.239573,0.237358,0.380548,0.741889,0.258111,...,0.085206,0.000468,0.001404,0.004682,0.010768,0.020599,0.004682,0.001404,0.042603,0.015918

In [12]:
df_DT = ds_demo[DT]
df_DT.head()

   Topic_163  listed  Topic_124   Topic_3  enlish_tweets  Topic_32  Topic_95
0   0.026752   119.0   0.031033  0.146602       0.963082  0.017657  0.025682
1   0.012108   218.0   0.005899  0.156473       0.914933  0.002794  0.008072
2   0.031356   534.0   0.025208  0.116815       0.893637  0.011067  0.013833
3   0.020243     6.0   0.006940  0.144014       0.942741  0.008097  0.006940
4   0.007959    11.0   0.009831  0.085674       0.937734  0.004682  0.005618

In [13]:
df_RF = ds_demo[RF]
df_RF.head()

,Topic_173,Topic_116,Topic_124,Topic_107,Topic_139,Topic_163,age,Topic_11,Topic_105,Topic_29,Topic_180,Topic_196,Topic_66,Topic_49,foll_friend_ratio,Topic_76,listed,Topic_160,gender:female_gt_0_5,Topic_95
0,0.004815,0.025147,0.031033,0.026752,0.023007,0.026752,30.700773,0.010166,0.008026,0.008561,0.018727,0.036918,0.004815,0.004280,4.115183,0.044409,119.0,0.004280,-0.050586,0.025682
1,0.006520,0.012729,0.005899,0.005899,0.007451,0.012108,29.817867,0.004967,0.005278,0.025147,0.002484,0.009624,0.017696,0.006520,4.754741,0.012729,218.0,0.005588,0.376868,0.008072
2,0.000307,0.014448,0.025208,0.004304,0.009530,0.031356,31.260406,0.007993,0.001230,0.015063,0.007685,0.071011,0.002459,0.002767,9.134267,0.018445,534.0,0.007685,0.204542,0.013833
3,0.004627,0.009254,0.006940,0.008097,0.038751,0.020243,33.120257,0.009254,0.005205,0.020821,0.012146,0.024870,0.012146,0.008097,1.259508,0.015616,6.0,0.005784,0.164126,0.006940
4,0.007491,0.022004,0.009831,0.009363,0.007959,0.007959,26.284088,0.003745,0.006086,0.011704,0.007022,0.020599,0.007491,0.002341,0.996403,0.013109,11.0,0.006554,-0.066739,0.005618

In [14]:
df_PCA = ds_demo[pca]
df_PCA.head()

,Topic_156,Topic_121,Topic_68,Topic_24,Topic_200,Topic_65,Topic_141,race:asian,enlish_tweets,Topic_199,Topic_140,anxious:strongly_agree,Topic_53,Topic_93,Topic_37,Topic_87,surprise,Topic_85,Topic_116,Topic_148
0,0.003745,0.017121,0.025682,0.039593,0.010166,0.073836,0.082397,0.053103,0.963082,0.093098,0.024077,0.034757,0.016051,0.002140,0.029428,0.000000,0.20,0.000000,0.025147,0.018192
1,0.007762,0.010556,0.028873,0.010556,0.007762,0.075132,0.049053,0.055728,0.914933,0.066749,0.012419,0.030549,0.020180,0.001242,0.020180,0.000000,0.26,0.000621,0.012729,0.020801
2,0.005533,0.025208,0.011682,0.031048,0.008300,0.023670,0.045804,0.057639,0.893637,0.043345,0.040578,0.026907,0.003074,0.001844,0.019059,0.000000,0.23,0.000615,0.014448,0.019674
3,0.006940,0.025448,0.024291,0.008676,0.015616,0.045691,0.052053,0.066914,0.942741,0.074610,0.015616,0.037560,0.008676,0.000000,0.039907,0.001157,0.19,0.002313,0.009254,0.012724
4,0.007959,0.013577,0.013577,0.018258,0.015918,0.023408,0.042135,0.062304,0.937734,0.042603,0.007491,0.038573,0.004213,0.000000,0.011236,0.000000,0.18,0.000000,0.022004,0.008427

In [15]:
Y = ds_demo["mean_income"]
Y.head()

0    40848
1    42800
2    40848
3    10325
4    34684
Name: mean_income, dtype: int64

In [16]:
Y = pd.cut(ds_demo.loc[:,"mean_income"], bins = 10, labels = list(range(0,10))).astype('int64')
Y.head()

0    3
1    3
2    3
3    0
4    2
Name: mean_income, dtype: int64

In [17]:
X_train, X_test, y_train, y_test = train_test_split(
    df_RF, Y, test_size=0.2, random_state=999)

In [18]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [19]:
from sklearn.svm import SVC
from sklearn.svm import SVR

In [20]:
svm = SVR(kernel='linear')

In [21]:
svm.fit(X_train_std,y_train.values)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [22]:
svm.predict(X_test_std)

array([ 1.03294164,  1.34589639,  1.3250373 , ...,  1.73186916,
        1.02511255,  1.31191503])

In [23]:
len(y_test.values)

1039

In [24]:
error = 0
for i, v in enumerate(svm.predict(X_test_std)):
    if v!= y_test.values[i]:
        error+=1
print(error)

1039

In [25]:
acc = error / len(y_test.values)
acc

1.0

In [26]:
svm.predict_proba(X_test_std)

AttributeError: 'SVR' object has no attribute 'predict_proba'

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    df_RF, Y, test_size=0.2, random_state=999)

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn import svm
# your code here
param_grid ={"kernel": ["rbf"],
             'C': 10**np.linspace(-1,10,20), 
             "gamma": 10**np.linspace(-1,10,20),
             "max_iter" : [100], 
             "coef0" : 10**np.linspace(-3,3,20)}

rr = svm.SVR()
gr = GridSearchCV( rr, param_grid=param_grid)
rs = gr.fit(X_train,y_train)
print(rs.best_params_)

In [27]:
# from sklearn.model_selection import train_test_split

# for i in range(10):
#     X_train, X_test, Y_train, Y_test = train_test_split(df_RF, Y, test_size=0.33, random_state=i)

#     clf = svm.SVR(kernel='rbf', C=16237.767391887242) 
#     clf.fit(X_train, Y_train)
#     print(clf.score(X_test, Y_test))
# #     correct=1.0*(clf.predict(X_test) == np.asarray(Y_test)).sum()/len(Y_test)

# #     print ( "Out of sample, we successfully predict {} percent of the data".format((correct)*100))

In [ ]:
{'coef0': 0.001, 'max_iter': 100, 'kernel': 'rbf', 'C': 1.4384498882876631, 'gamma': 1.4384498882876631}

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import svm
for i in range(990,1000):
    X_train, X_test, Y_train, Y_test = train_test_split(df_RF, Y, test_size=0.2, random_state=i)

    clf = svm.SVC(kernel='rbf', C=1.438449888287663, gamma = 1.438449888287663) 
    clf.fit(X_train, Y_train)
    print(clf.score(X_test, Y_test))
    correct=1.0*(clf.predict(X_test) == np.asarray(Y_test)).sum()/len(Y_test)
    
    print ( "Out of sample, we successfully predict {} percent of the data".format((correct)*100))

0.362848893167
Out of sample, we successfully predict 36.28488931665063 percent of the data
0.320500481232
Out of sample, we successfully predict 32.05004812319538 percent of the data
0.322425409047
Out of sample, we successfully predict 32.24254090471607 percent of the data
0.310875842156
Out of sample, we successfully predict 31.087584215591917 percent of the data
0.324350336862
Out of sample, we successfully predict 32.435033686236764 percent of the data
0.346487006737
Out of sample, we successfully predict 34.64870067372473 percent of the data
0.32531280077
Out of sample, we successfully predict 32.53128007699711 percent of the data
0.328200192493
Out of sample, we successfully predict 32.820019249278154 percent of the data
0.318575553417
Out of sample, we successfully predict 31.857555341674686 percent of the data
0.317613089509
Out of sample, we successfully predict 31.76130895091434 percent of the data

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, df_RF, Y, cv = 10)

In [ ]:
np.mean(scores)

In [33]:
y_pred = clf.predict(X_test)

array(['setosa', 'versicolor', 'virginica'],
      dtype='<U10')

In [32]:
import itertools
import numpy as np
import matplotlib.pyplot as plt

from sklearn import svm, datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

class_names = iris.target_names

def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, y_pred)
np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names,
                      title='Confusion matrix, without normalization')

# Plot normalized confusion matrix
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=class_names, normalize=True,
                      title='Normalized confusion matrix')

plt.show()

NameError: name 'class_names' is not defined